@font-face {
  font-family: 'Neue Plak';
  src: url('Neue Plak Regular.ttf')
}

@font-face {
  font-family: 'Neue Plak Bold';
  src: url('Neue Plak Bold.ttf')
}

@font-face {
  font-family: 'Neue Plak Light';
  src: url('Neue Plak Light.ttf')
}
