html, body {
  margin: 0;
  height: 100%;
  font-family: 'Neue Plak';
}

div#header {
  justify-content: space-between;

  div#current-user {
    color: #666;
    font-size: smaller;

    button {
      margin-left: 1em;
    }
  }
}
